@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {box-sizing: border-box;}

html, body, h1, h2, h3, h4, h5, h6,
p, div, em, sup, sub, code, hr, strong, span, q, blockquote,
header, footer, aside, nav, article, section, figure, main,
img, a, table, tr, td, th, thead, tbody, tfoot,
ul, ol, li, dl, dt, dd, address,
form, fieldset, legend, input, button, select, option, textarea {
    margin: 0;
    padding: 0;
    line-height: 1.0;
    font-size: 1.0rem;
    font-style: normal;
    font-weight: normal;
    font-family: 'Noto Sans KR', sans-serif;
    color: inherit; /* 부모 색상을 따라가도록 설정 (중요!) */
}

ul, ol, li {list-style: none;}
table, tr, th, td {border-collapse: collapse;}
th {text-align: left;}

/* [수정됨] 검은 배경이므로 링크 색을 강제로 검정(#000)으로 하면 안 보임.
   inherit으로 설정해서 body 색상을 따라가게 함 */
a {color: inherit; text-decoration: none;}

textarea {resize: none;}
fieldset {border: 0;}
input, button {cursor: pointer; background: none; border: 0;}
.skip {display: none;}